.card{
    color: white;
    padding: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 600px;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
}
input[type="text"], textarea{
  background-color: transparent;
  border: none;
  resize: none;
  width: 100%;
  outline: none;
}
textarea{
  height: 10rem;
  padding: 0.5rem;
  font-size: 1em;
}
.content{
  padding: 0.5rem 1.5rem;
}
.f_title{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.f_title mat-icon{
  transform: scale(0.8);
}
.f_title input{
  font-size: 1.2em;
}
.field{
  margin-bottom: 1rem;
}
label{
  font-size: 0.9em;
}
.addP{
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: scale(0.9);
}
.padd{
  gap: 0.25rem;
}
app-letter{
  cursor: pointer;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"]{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .icon mat-icon{
  opacity: 1;
}
.icon{
  opacity: 1;
  cursor: pointer;
  border: 1px solid white;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
.icon mat-icon{
  opacity: 0;
  transform: scale(0.6);
}
.checkbox:hover .icon mat-icon{
  opacity: 0.5;
}

.checkbox{
  position: relative;
  transform: scale(0.8);
}

.note-item input[type="text"]{
  width: 100%;
  height: 20px;
}
.container-note{
  display: flex;
  gap: 0.5rem;
}
.note-item{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 0.25rem;
}

