<div class="card bg-primary-3 border-r-1">
  <div class="header">
    <app-letter [person]="task.person"></app-letter>
    <small><i>{{ task.date_creation | numberToDate | date: 'dd/MM/yy' }}</i></small>
  </div>
  <div class="content">
    <h4>{{ task.title }}</h4>
    <p>{{ task.description }}</p>
  </div>
  <div class="footer">
    <div class="persons">
      <ng-container *ngFor="let p of task.persons">
        <app-letter [person]="p"></app-letter>
      </ng-container>
    </div>
  </div>
</div>