<div class="card bg-primary-3 border-r-1 color-w-3" (click)="showForm()">
  <!-- <div class="header">
    <app-letter [person]="task.person"></app-letter>
    <small><i>{{ task.date_creation | numberToDate | date: 'dd/MM/yy' }}</i></small>
  </div>  -->
  <div class="container-title">
    <h4 class="no-select">{{ task.title }}</h4>
    <div class="close" [ngClass]="{'color-s-1':hover,  'color-s-3':!hover}" (mouseleave)="hover=false" (mouseenter)="hover=true" (click)="showMenu($event)">
      <mat-icon>apps</mat-icon>
    </div>
  </div>
  <div class="content">
    <textarea  cols="40" readonly class="color-w-4 no-select">{{ task.description }}</textarea>
  </div>
  <div class="footer flex">
    <app-echeance [date_echeance]="task.date_echeance" (setDateEcheance)="setDateEcheance($event)"></app-echeance>
    <div class="flex persons ">
      <ng-container *ngFor="let p of task.persons">
        <app-letter [person]="p"></app-letter>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="menuOpen">
    <div class="menuCard  bg-primary-3 border-r-1 shadow" (clickOutside)="closeMenu()">
      <h4 class="color-s-3">Menu</h4>
      <ul>
        <app-hover-container>
          <li class="color-w-3" (click)="removeTask()">
            Supprimer tâche
          </li>
        </app-hover-container>
        <ng-container *ngIf="getOtherStates().length > 0">
          <app-hover-container>
          <li>
            <select (change)="moveTask($event)" class="color-w-3">
              <option selected disabled>{{ task.state.name }}</option>
              <ng-container *ngFor="let state of getOtherStates()">
                <option value="{{ state.state_id}}">{{ state.name }}</option>
              </ng-container>
            </select>
          </li>
        </app-hover-container>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</div>
<app-card-form [task]="task" [visible]="showCardForm" (visibility)="setCardFormVisibility(bool)"></app-card-form> 
