<div class="link color-w-2" [ngClass]="{'display': newState}" (click)="showForm()">
  <h3 [ngClass]="{'color-w-1': hover, 'color-w-3': !hover}" (mouseenter)="hover=true" (mouseleave)="hover=false">Ajout colonne</h3>
  <mat-icon>add</mat-icon>
</div>
<ng-container *ngIf="newState">
  <div class="addState bg-primary-3">
    <form [formGroup]="form">
      <input class=" color-w-2" type="text" formControlName="name" autofocus (blur)="add()"
        (keydown)="addOnEnter($event)" placeholder="Entrer un nom de colonne">
    </form>
  </div>
</ng-container>