@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  background-color: rgb(18, 18, 18);
}

.bg-primary-1{
  background-color: rgb(18, 18, 18);
}
.bg-primary-2{
  background-color: rgb(22, 22, 22);
}
.bg-primary-3{
  background-color: rgb(30, 30, 30);
}
.border-r-1{
  border-radius: 0.25rem;
}
.border-r-2{
  border-radius: 0.5rem;
}
h3{
  color: white;
}
small{
  font-size: 0.65em;
  font-weight: 300;
}