<div class="container" [formGroup]="form">
  <div class="checkbox">
    <input type="checkbox" formControlName="bool" id="">
    <div class="icon">
      <mat-icon>check</mat-icon>
    </div>
  </div>
  <app-hover-container>
    <div class="note-item" (mouseenter)="noteHover=true" (mouseleave)="noteHover=false" >
      <input class="color-w-3" type="text" formControlName="name" [ngStyle]="{'text-decoration': form.get('bool')?.value? 'line-through' : ''}">
      <ng-container *ngIf="noteHover">
        <app-delete (click)="delete()"></app-delete>
      </ng-container>
    </div>
  </app-hover-container>
</div>
